#bs4>=0.0.1
#Jinja2>=2.10
#jsonpath>=0.75
#jsonpath-rw>=1.4.0
#peewee>=2.10.2
#peewee-mssql>=0.1.2
## brew install freetds
#pymysql
#pika>=0.11.2
#redis>=2.10.6
#requests>=2.18.4
#selenium>=3.8.0
#setuptools-git>=1.2
#six>=1.11.0
#threadpool>=1.3.2
#pytest>=4.3.1
pytest-html
tabulate
pytest_testconfig
Cython
retrying
